.homePageWrapper{
    display: flex;
    height: 90vh;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    
    a{
        text-decoration: none;
    .singleLink{
        background-color: #851e3e;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        color: white;
        width: 300px;
        height: 100px;
        margin: 20px;
        border-radius: 10px;
        box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
        &.disabled{
            background-color: dimgrey;
        }
        i{
            display: flex;
            align-items: center;
            justify-content: center;
            width: 32px;
            font-size: 32px;
            margin-right: 20px;
        }
    }
}
}

@media(min-width: 800px){
    .homePageWrapper{
        display: flex;
        height: 90vh;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        
        
        a{
            text-decoration: none;
        .singleLink{
            background-color: #851e3e;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            color: white;
            width: 400px;
            height: 150px;
            margin: 20px;
            border-radius: 10px;
            box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
            font-size: 24px;
            transition: 0.2s linear;
            &.disabled{
                background-color: dimgrey;
            }
            &:hover{
                transform: scale(0.98);
            }
            i{
                width: 64px;
                font-size: 64px;
                margin-right: 20px;
            }
        }
    }
}
}