
.questionsWrapper{
    .progressSection{
        display: flex;
        align-items: center;
        justify-content: left;
        height: 40px;
        padding-left: 20px;
    }

    .questionsNavigation{
        position: absolute;
        top: 10px;
        right: 20px;
        button{
            height: 60px;
            width: 60px;
            margin-left: 10px;
            border-style: none;
            border-radius: 4px;
            &:focus{
                outline: none;
                
            }
        }
    }


    .questionSection{
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 18px;
        margin-top: 50px;
        padding: 10px;
        text-align: center;
        min-height: 100px;
    }

    .answerSection{
        margin-top: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 40px;
        
        button{
            border-style: none;
            text-align: left;
            padding: 10px;
            margin-top: 10px;
            width: 95%;
            border-radius: 10px;
            font-size: 16px;
            background-color: #ddd;
            box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
            &:focus{
                outline: none;
            }
            &.red{
                background-color: #FF4136;
            }
            &.green{
                background-color: #2ECC40;
            }
            
        }
    }
}


@media(min-width: 800px){
    .questionsWrapper{
        .progressSection{
            display: flex;
            align-items: center;
            justify-content: left;
            height: 100px;
            padding-left: 40px;
        }
    
        .questionsNavigation{
            top: 80%;
            right: 50%;
            transform: translateX(50%);

            button{
                height: 100px;
                width: 100px;
                margin-left: 10px;
                border-style: none;
                border-radius: 4px;
                transition: 0.1s linear;
                cursor: pointer;
                &:focus{
                    outline: none;
                }
                &:hover{
                    transform: scale(0.95);
                }
            }
        }
    
    
        .questionSection{
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 28px;
            margin-top: 50px;
            padding: 10px;
            text-align: center;
            min-height: 100px;
        }
    
        .answerSection{
            margin-top: 10px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            margin-top: 40px;
            
            button{
                border-style: none;
                text-align: left;
                padding: 10px;
                margin-top: 10px;
                width: 500px;
                border-radius: 10px;
                font-size: 22px;
                background-color: #ddd;
                box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
                transition: 0.1s linear;
                cursor: pointer;
                &:focus{
                    outline: none;
                }
                &.red{
                    background-color: #FF4136;
                }
                &.green{
                    background-color: #2ECC40;
                }
                &:hover{
                    transform: scale(0.98);
                }
                
            }
        }
    }




    
}